[BASIC]
good-names = b,c,s

[MESSAGES CONTROL]
disable = too-few-public-methods

[TYPECHECK]
ignored-modules =
    plover
    plover.engine
    plover.formatting
    plover.gui_qt
    plover.steno
    plover.steno_dictionary
    tool
