[TYPECHECK]
ignored-modules = plover,plover.engine,plover.formatting,plover.gui_qt.tool,plover.steno,plover.steno_dictionary

[BASIC]
good-names = b,c,s

[MESSAGES CONTROL]
disable = too-few-public-methods
